<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Creacio de Producte</title>
    <link rel="stylesheet" href="/Front-end/styles/styles.css">

    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.4.11/dist/vuetify.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" type="text/css" />
    

    
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMIBThOoUa4jD8l9IM7oo6xl60mCAWz6Y"></script>
    <script type="text/javascript">
        function initialize() {
            // Creating map object
            var map = new google.maps.Map(document.getElementById("map_canvas"), {
                zoom: 12,
                center: new google.maps.LatLng(41.38685384336244, 2.106232042250687),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
            });

            // creates a draggable marker to the given coords
            var vMarker = new google.maps.Marker({
                position: new google.maps.LatLng(
                    41.38685384336244,
                    2.106232042250687
                ),
                draggable: true,
            });

            // adds a listener to the marker
            // gets the coords when drag event ends
            // then updates the input with the new coords
            google.maps.event.addListener(vMarker, "dragend", function(evt) {
                $("#txtLat").val(evt.latLng.lat().toFixed(6));
                $("#txtLng").val(evt.latLng.lng().toFixed(6));

                map.panTo(evt.latLng);
            });

            // centers the map on markers coords
            map.setCenter(vMarker.position);

            // adds the marker on the map
            vMarker.setMap(map);
        }
    </script>
</head>

<body onload="initialize()">
    <header id="NewP">
        <h2>Creacio de Producte</h2>

        <label for="latitude"> Latitud: </label>
        <input id="txtLat" type="text" style="color: red" value="19.4326077" />
        <label for="longitude"> Longitud: </label>
        <input id="txtLng" type="text" style="color: red" value="-99.13320799999997" /><br />
        <br />
        <br />
    </header>

    <div id="map_canvas" style="width: auto; height: 500px"></div>

    <div id="app">
        <v-app >
          <v-container grid-list-xl text-xs-center>
            <v-layout row wrap>
              <v-flex xs4 offset-xs4>
                <v-card dark color="dark" elevation-24 style="padding: 20px; border: 1px; border-radius: 50px;">
                  <v-card-text>
                    <h4 class="display-2 font-weight-bold">Register</h4>
                    <hr>
                    <br>
                    <v-form>
                      <v-text-field 
                        
                        v-model="longitud"
                        
                        label="User name"
                        type="text"
                        
                        color="white"
                        
                        counter="10"
                      >
                      </v-text-field>
                      <v-text-field 
                        clearable
                        v-model="latitud"
                        label="Email"
                        
                        
                        type="email"
                        
                        color="white"
                        
                      >
                      </v-text-field>
                      <v-text-field 
                        solo
                        clearable
                        v-model="Nom"
                        label="Password"
                        
                        type="password"
                        
                        color="white"
                        
                      >
                      </v-text-field>
                      
                   </v-form>
                   <br>
                    <v-btn
                    
                      @click="createProd">Registrar</v-btn>
                    
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
            
            
          </v-container>
       <v-app>
     </div>

    <script src="https://cdn.jsdelivr.net/npm/vuelidate/dist/vuelidate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuelidate/dist/validators.min.js"></script>
    <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/vuetify@2.6.12/dist/vuetify.min.js"></script>
    <script src="https://unpkg.com/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script src="/Front-end/js/create.js"></script>
</body>

</html>